<?php

class Config
{
    public static function getConfig($alias)
    {
        $configs = array(
            // 阿里云
            'oss' => array(
                'key_id' => '',
                'secret' => '',
                'bucket' => '',
                'endpoint' => '',
                'custom' => '',
            ),
                // 华为云
            'obs' => array(
                'key_id' => '',
                'secret' => '',
                'bucket' => '',
                'endpoint' => '',
                'cname' => '',
            ),
            // 腾讯云
            'cos' => array(
                'key_id' => '',
                'secret' => '',
                'bucket' => '',
                'endpoint' => '',
                'custom' => '',
            ),
        );

        return !isset($configs[$alias]) ? [] : $configs[$alias];
    }
}
