<?php

if (!define('NAMET-OSS')) {
    exit('forbidden!');
}


$configs = array(
    // 阿里云
    'oss' => array(
        'key_id' => '',
        'secret' => '',
        'bucket' => '',
        'endpoint' => '',
        'cname' => '',
    ),
        // 华为云
    'obs' => array(
        'key_id' => '',
        'secret' => '',
        'bucket' => '',
        'endpoint' => '',
        'cname' => '',
    ),
    // 腾讯云
    'cos' => array(
        'key_id' => '',
        'secret' => '',
        'bucket' => '',
        'endpoint' => '',
        'cname' => '',
    ),
);

return $configs;
